%h1 List of bookmarks
%p= @error
%ul
  - @bookmarks.each do |bookmark|
    %li= bookmark
%form{action: '/add_bookmark', method: 'POST'}
  %label New URL to add
  %input.input_field{type: 'text', name: 'url'}
  %input.submit_button{type: 'submit', value: 'Add new bookmark'}
