%h1 List of bookmarks
%p= flash[:error]
%ul
  - @bookmarks.each do |bookmark|
    %li
      %a{href: bookmark.url}= bookmark.title
%form{action: '/add_bookmark', method: 'POST'}
  %label Title:
  %input{type: 'text', name: 'title'}
  %label URL:
  %input.input_field{type: 'text', name: 'url'}
  %input.submit_button{type: 'submit', value: 'Add new bookmark'}
